.handle-box {
	// display: flex;
	background: #f0f0f0;
	margin-bottom: 20px;
	padding: 5px;
	border-radius: 5px;
}

.btn {
	display: flex;
	align-items: center;
	margin: 5px;
	
	input {
		width: 300px;
	}
}
	
.tip {
	font-size: 18px;
}
	
.el-table {
	border: 1px solid #dfe6ec;
		border-radius: 5px;
}
	
.block {
		text-align: center;
		margin-top: 1vw;
}
    
.box {
    margin-right: 20px;
	padding: 0 50px;
}

.submit {
		margin-top: 1vw;
		text-align: right;
	}
	
.summary .el-input__inner {
	background-color: rgba(255, 255, 255, 0.05) !important;
}

.summary .el-input-group__append {
	background-color: rgba(255, 255, 255, 0.05) !important;
}

.inner .el-divider {
	background-color: #006cff;
}


// 进入页面的按钮
.operation .el-button {
	background-color: rgba(255, 255, 255, 0.05) !important;
	color: #fff;
	border: 1px #006cff solid;
}