.handle-box {
	// display: flex;
	background: #f0f0f0;
	margin-bottom: 20px;
	padding: 5px;
	border-radius: 5px;
}

.content-box {
	display: flex;
	border: 1px #ccc solid;
}

.content-box-left {
	width: 25%;
	border-right: 1px #ccc solid;
}

.content-box-right {
	width: 74%;
	padding: 5px;
}

.btn {
	// display: flex;
	// align-items: center;
	margin: 10px 5px;
	
	// input {
	// 	width: 300px;
	// }
}
	
.tip {
	font-size: 18px;
}
	
.el-table {
	border: 1px solid #dfe6ec;
		border-radius: 5px;
}
	
.block {
		text-align: center;
		margin: 10px 0;
}
    
.box {
    margin-right: 20px;
	padding: 0 50px;
}

.submit {
		margin-top: 1vw;
		text-align: right;
	}
	
.summary .el-input__inner {
	background-color: rgba(255, 255, 255, 0.05) !important;
}

.summary .el-input-group__append {
	background-color: rgba(255, 255, 255, 0.05) !important;
}

.inner .el-divider {
	background-color: #006cff;
}


// 进入页面的按钮
.operation .el-button {
	background-color: rgba(255, 255, 255, 0.05) !important;
	color: #fff;
	border: 1px #006cff solid;
}


// 穿梭框
.el-transfer-panel {
	width: 500px;
}

.el-tree-node {
		padding: 5px 0 !important;
	}







